**/node_modules/
**/dist/
**/.DS_Store
**/config.env
.env
production.env
**/coverage/
server/src/properties/app.properties
**/androidw/
**/android/
server/src/_ssl/*.csr
server/src/_ssl/*.crt
server/src/_ssl/*.key
server/src/_ssl/*.key
server/src/_ssl/*.pub
