.inactive-button {
    background-color: #f6a9a9; /* Red-500 */
    color: #FFFFFF; /* White text color */
    margin: 1rem; /* 16px margin on all sides */
    padding: 0.15rem 1rem; /* 8px vertical padding, 16px horizontal padding */
    border-radius: 0.25rem; /* 4px border radius */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .active-button {
    background-color: #EF4444; /* Red-500 */
    color: #FFFFFF; /* White text color */
    margin: 1rem; /* 16px margin on all sides */
    padding: 0.15rem 1rem; /* 8px vertical padding, 16px horizontal padding */
    border-radius: 0.25rem; /* 4px border radius */
    display: flex;
    justify-content: center;
    align-items: center;
  }